# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Banco de dados local
*.db
*.sqlite3

# Ambiente
.env
.env.local

# Build do executável (PyInstaller)
build/
dist/
*.spec.bak

# Sistema
.DS_Store
